/*Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Teko:wght@300..700&display=swap');

body {
    color: rgb(11, 11, 11);
    font-size: 16px;
    font-family: "Anton", sans-serif;
    line-height: 1.5;
    margin: 0;
    padding-top: 2.5em;
    background-color: rgb(54, 12, 12);
}

.container {
    display: flex;
    justify-content: center;
}

.centered {
    margin-top: 30px;
    text-align: center;
    width: 900px;
    background-color: rgb(218, 205, 203);
    border-radius: 45px;
    box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0, 62);
}

/* Title style */
h1 {
    color: rgb(21, 20, 17);
    font-weight: 300;
    font-size: 3em;
    line-height: 1;
    margin-top: 20px;
}

/* Questions */
h2 {
    color: rgb(87, 13, 13);
    letter-spacing: 0.5px;
    font-weight: 300;
    font-size: 1.5em;
    font-family: "Anton", sans-serif;
}

p {
    margin: .8em 0;
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.0;

}
/* questions container */
.btn--default {
    padding: 10px 20px;
    border: 0;
    border-radius: 0.5em;
    color: rgb(47, 17, 17);
    text-transform: uppercase;
    font-size: 0.875;
    font-weight: 400;
    transition: opacity 0.3s;
    background-color: rgb(215, 198, 198);
    margin: auto;
    cursor: pointer;
}

.btn--default:hover {
    opacity: 0.75;
}

.btn--default:active {
    opacity: initial;
}

/*welcome page start quiz*/
body {
    font-family: Anton, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 600px;
    margin: 50px auto;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }

  .hidden {
    display: none;
  }
  
  button {
    background-color: rgb(218, 205, 203);
    color: rgb(47, 17, 17);
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #393a3b;
  }
  

/* Questions 1 to 7 foot of the page */
footer {
    border-top: 1px solid rgb(37, 37, 37);
    margin-top: 1.375em;
}

footer p {
    font-size: 1rem;
    margin-top: 1.375em;
}