@import url();

body {
    color: rgb(119, 121, 120);
    font-size: 16px;
    font-family: "Lato", "Helvetica Neue", sans-serif;
    line-height: 1.5;
    margin: 0;
    padding-top: 2.5em;
    background-color: black;      
}

.container {
    display:flex;
    justify-content:center;
}

.centered{
    margin-top:90px;
    text-align: center;
    width: 900px;
    background-color: rgb(52, 8, 8);
    border-radius: 45px;
    box-shadow: 0px 0px 16px 2px rgba(0,0,0,0,62);
}

h1 {
    color: bisque;
    font-weight: 300;
    font-size: 2.626em;
    line-height: 1.1;
    margin-top: 30px;
}

h2 {
    color: rgb(23, 23, 23);
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 1.5em;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

p {
    margin: .8em 0;
    font-weight: 300;
    font-size: 1.125em;
    line-height: 1.5;
}

.btn--default {
    padding: 10px 20px;
    border: 0;
    border-radius: 0.5em;
    color: rgb(62, 6, 6);
    text-transform: uppercase;
    font-size: 0.875;
    font-weight: 400;
    transition: opacity 0.3s;
    background-color: rgb(181, 178, 178);
    margin:auto;
    cursor: pointer;
}

.btn--default:hover{
    opacity: 0.75;
}

.btn--default:active{
    opacity: initial;
}

footer {
    border-top: 1px solid rgb(37, 37, 37);
    margin-top: 1.375em;
}

footer p {
    font-size:1rem;
    margin-top: 1.375em;
}